<section class="section-one.header">
  <section class="section-two.header">
    <img src="#" alt="Salão de beleza">
    <div class="div-one.header">
      <nav class="nav-one.header">
        <a href="./">Home</a>
      </nav>
      <nav class="nav-one.header">
        <a href="#quem">Quem Somos</a>
      </nav>
      <nav class="nav-one.header">
        <a href="#servicos">Serviços</a>
      </nav>
      <nav class="nav-one.header">
        <a href="#contato">Contato</a>
      </nav>
    </div>
  </section>
</section>